
ul .nav--item .node--colour {
   color: hsl(356, 100%, 66%);
}

.csuf--paths {
   max-width: 80vw;
   margin: auto;
   text-align: center;
}

.csuf--join {
   max-width: 80vw;
   margin: auto;
   text-align: center;
}

.csuf--colour {
   color: #0d6cf1;
}

.algo {
   color: rgb(48, 48, 241);
}

.colour--logo {
   color: orangered;
}

.dev {
   color: #0d6cf1;
}
